body {
    font-family: "Montserrat", "Open Sans", sans-serif;
    height: 100%;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-bottom: 100px;
}

:root {
    --prime: #c4acf9;
    --prime-dark: #8568c5;
    --highlight: #ff9e1cc2;
}


/*  */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #e3e2eb52;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}


/*  */

.content {
    flex: 1 1 auto;
}

.recipe-search {
    margin: 2rem 0;
}

.recipe--search-container {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    border: 1px solid var(--prime);
    color: var(--prime);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

input[type='text']:focus {
    outline: none;
    border-color: var(--highlight);
}

.search-control::placeholder {
    color: var(--prime);
}

.search-btn {
    width: 80px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--prime);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--prime-dark);
    color: var(--highlight);
}


/*  */

.nav--pagination {
    padding: 40px 0;
}