body {
    font-family: "Montserrat", "Open Sans", sans-serif;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

header {
    padding-bottom: 100px;
}